{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "catalog:index" %}">Portfolio manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a 
                            class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Artists
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url "catalog:artist_list" %}">List artists</a>
                        {% if user.is_staff %}
                            <a class="dropdown-item" href="{% url "catalog:artist_create" %}">Add artist</a>
                        {% endif %}
                    </li>
                    <li class="nav-item dropdown">
                        <a 
                            class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Art & Projects
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url "catalog:index" %}">Gallery</a>
                        {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url "catalog:artwork_upload" %}">Add artwork</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "catalog:tag_list" %}">Artwork tags</a>
                        {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url "catalog:tag_create" %}">Add tag</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "catalog:project_list" %}">List projects</a>
                        {% if user.is_staff %}
                            <a class="dropdown-item" href="{% url "catalog:project_create" %}">Add project</a>
                        {% endif %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "catalog:event_list" %}">Events</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">Site administration</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex my-3 my-lg-0 me-lg-5" action="{% url "catalog:search_results" %}" method="get" role="search">
                    <label class="visually-hidden" for="search-input">Search artworks</label>
                    <input class="form-control rounded-0 border-secondary" 
                        type="search" name="query" placeholder="Search artworks..."/>
                    <button class="btn btn-dark rounded-0 border-secondary" type="submit" >
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url "users:profile" %}">
                        {% if user.profile.avatar %}
                            <img class="rounded-circle" src="{{ user.profile.avatar_thumbnail.url }}"
                            alt= {{ user.username|default:"UserName" }}/>
                        {% else %}
                            <img class="rounded-circle" src="{% static "catalog/img/default_avatar_thumbnail.jpg" %}" 
                            alt= {{ user.username|default:"UserName" }}/>
                        {% endif %}
                    </a>
                    <form class="form-inline" id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-dark rounded-0 border-secondary" type="submit" > 
                            Logout
                        </button>
                    </form>
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "users:signup" %}">Signup</a>
                        </li>
                    </ul>    
                {% endif %}
            </div>    
        </div>
    </nav>
</header>