{% extends "base/generic.html" %}
{% load static %}
{% block content %}
    <h3><b>{{ artwork.title }}</b> by {{ artwork.author }}</h3>
    <p>
        <!-- author detail link not yet defined -->
        <a href="#">
            {% if artwork.author.profile.avatar %}
                <img src="{{ artwork.author.profile.avatar_thumbnail.url }}"/>
            {% else %}
                <img src="{% static "catalog/img/default_avatar_thumbnail.jpg" %}"/>
            {% endif %}
        </a> 
        {{ artwork.created }}
    </p>
    <p><img src="{{ artwork.image.url }}"  class="img-fluid" alt="Oops! Image is absent" /></p>
    <p>Category: {{ artwork.category }}</p>
    {% if artwork.description %}
        <p>Description: {{ artwork.description }}</p>
    {% endif %}
    {% if artwork.tags.all %}
        <p><strong>Tags:</strong> 
            {% for tag in artwork.tags.all %}
                <a href="{% url 'catalog:tag_detail' tag.text %}">{{ tag.text }}</a>
            {% endfor %}
        </p>
    {% endif %}
    {% include "catalog/artwork_buttons.html" %}
{% endblock %}